/* 공통 역역 */
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: #3f464d;
    margin-top: 60px;
    font-weight: bold;
}



/* header */
header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* 상단 메뉴바 고정 */

a {
    text-decoration: none;
    font-weight: bold;
    color: #3f464d;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
/* 꼭 padding으로 안 줘도 width랑 height를 70프로만 해줘도 되지 않을까? */

.head-container {
    width: 100%;
    height: 100%;
    /* flex로 내부 요소 정렬해야 하려면 container의 너비, 높이가 필요하니까 사이즈 부모요소에 100%로 맞춰줌 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.head-container a:hover {
    color: rgb(249, 160, 175);
}



/* main - banner */
section {
    width: 100%;
    height: 100%;
}
/* 배너 배경에 이미지 넣고 흐리게 처리하기 */
/* 사진 움직이면 이미지 움직이도록 만들기 */

.banner {
    width: 100%;
    height: 100%;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.banner-container {
    width: 100%;
    height: 350px;
    padding: 80px 0;
    color: #fff;
}

.banner-title {
    font-size: 1.7rem;
}

.banner-message {
    margin-top: 30px;
    font-size: 1.3rem;
    line-height: 2rem;
}
/* 마진 병합현상이 일어남 */

.skill {
    padding: 3rem 0;
    background-color: #fff;
}

.skill-container {
    width: 100%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.type-container {
    min-width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    background-color: #fff;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, .2);
    transition: 0.4s;
}

.type-img {
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

.type-name {
    font-size: 0.8rem;    rightButton.classList.add('button-right-on');
}

.type-container:hover {
    transform: translate(0, -5px);
    cursor: pointer;
}



/* main - lecture */
.lecture {
    width: 100%;
    height: 100%;
}

.lecture-container {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
    overflow: hidden;
}

.lecture-title {
    height: 50px;
    padding: 0 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.title-button {
    display: flex;
}

.button {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: #3f464d;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
    transition: 0.3s;
}

.left-button {
    margin-right: 0.3rem;
    background-color: lightgray;
}

.button-left-on {
    background-color: #3f464d;
}

.button-left-on:hover {
    cursor: pointer;
    background-color: pink !important;
    transition: transform .2s;
    transform: translate(-1px); 
}

.right-button:hover {
    cursor: pointer;
    background-color: pink;
}

.button-right-on {
    background-color: #3f464d;
    /* transition: background-color 1s; */
}

.button-right-off {
    background-color: lightgray;
}

.button-right-on:hover {
    cursor: pointer;
    background-color: pink !important;
    transition: transform .2s;
    transform: translate(1px); 
}

.button-right-off:hover {
    background-color: lightgray;
    cursor: auto;
}

.card-container {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.card {
    width: 180px;
    height: 200px;
    margin-right: 1rem;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, .3);
    flex-shrink: 0;
    flex-grow: 0;
}

.card-detail {
    height: 30%;
    display: block;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    overflow: hidden;
}

.card-detail-name {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    pointer-events: none;
    white-space: nowrap;
}

.card-detail-description {
    width: min-content;
    font-size: 0.5rem;
    font-weight: normal;
    white-space: nowrap;
    transition: transform 1s;
    pointer-events: none;
}



/* footer */
footer {
    width: 100%;
    height: 100%;
    background-color: rgb(204, 197, 197);
}

.info-container {
    width: 100%;
    height: 100%;
    padding: 2rem 15rem;
    font-size: 0.7rem;
    color: gray;
    display: flex;
    justify-content: space-around;
}

footer > div > div > div::after {
    content: "|";
    float: right;
    margin-left: 2rem;
    display: block;
}
footer > div > div > div:last-child::after {
    content: "";
}





/* 화면 최상단 이동 버튼 */
#upward-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #3f464d;
    color: #fff;
    text-align: center;
    line-height: 1.7rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition: 0.7s;
}

#upward-button.show {
    opacity: 1;
    visibility: visible;
}

#upward-button:hover {
    cursor: pointer;
    background-color: rgb(254, 140, 159);
}


/* 반응형 처리 */
@media only screen and (min-width: 1200px) {
    .inner {
        max-width: 1200px;
    }
}